*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'inter';
    src: url('../../assets/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'logotext';
    src: url('../../assets/Jacquarda_Bastarda_9/JacquardaBastarda9-Regular.ttf') format('truetype');
    font-style: normal;
}
:root{
    --primary-color: #FFF8F8;
}

body{
    background: white;
    width: 98vw;
    height: 98vh;
    overflow: hidden;
    margin: .5rem auto;
    font-family: 'inter';
}
.logo {
    font-weight: bold;
    font-family: 'logotext';
    max-width: 131px;
    font-size: 20px;
  }
.container{
    background: #FFF8F8;
    height: 97%;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar h1{
    display: flex;
    flex-direction: column;
}
.navbar button{
    align-self: flex-start;
    border: 1px solid black;
    background: transparent;
    font-size: 16px;
    border-radius: 6px;
    padding: .8rem 3.2rem;
}
.navbar button a{
    text-decoration: none;
    color: black;
}
.navbar button a:hover, .navbar button a:active, .navbar button a:visited{
    text-decoration: none;
    color: black;
}
.center{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.center .hero{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 4rem;
}
.center .hero .herotext{
    align-self: center;
    width: 558px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.center .hero .herotext h1{
    font-size: 40px;
}
.center .hero .herotext p{
    font-size: 20px;
}
.center .hero .heroimg{
    align-self: center;
    /* box-shadow: 0 9px 5px rgb(0, 0, 0, .85); */
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
}
.center .hero .heroimg img{
    width: 239px;
    height: 239px;
}
.center button{
    align-self: center;
    font-size: 20px;
    background-color: black;
    color: #FFF8F8;
    border-radius: 6px;
    height: 49px;
    border: none;
    text-align: center;
}
.authContainer{
    background: #F7F6F6;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.authContainer .authTitle{
    align-self: center;
    font-size: 23px;
}
.authContainer .flex{
    display: flex;
    gap: 1rem;
    align-self: center;
    width: fit-content;
}
.authContainer .flex .image{
    width: 440px;
    height: 440px;
    align-self: flex-start;
    position: relative;
}
.authContainer .flex .image img{
    width: 440px;
    height: 440px;
}
.authContainer .flex .image::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background: #FFFFFF77;
    z-index: 1;
}
.authContainer .flex .inputfields form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 400px;
}
.authContainer .flex .inputfields fieldset{
    width: 100%;
    background: #F2F1F1;
    border: none;
    border-bottom: 2px solid #9E9898;
    padding: .6rem 1rem;
}
.authContainer .flex .inputfields label{
    font-size: 14px;
    color: #4D4C4C;
}
.authContainer .flex .inputfields fieldset input, .authContainer .flex .inputfields fieldset input:focus, .authContainer .flex .inputfields fieldset input:active{
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
}
.btn{
    width: 100%;
    height: 30px;
    margin-top: 10px; 
}
.inputfields p{
    display: flex;
    margin-top: 24px;
    align-self: center;
}
.inputfields a:visited, .inputfields a:hover{
    color: blue;
}
.signinInput{
    margin: auto;
}
.boostBtn a, .boostBtn a:visited, .boostBtn a:hover, .boostBtn a:active{
    text-decoration: none;
    color: inherit;
}
.boostBtn a{
    padding: .1rem 4.9rem;
}
/*Sign in styling
.auth-Container{
    background: #FFF8F8;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.auth-Container .authTitle2{
display: flex;
flex-direction: column;
align-self: center;
}
.auth-Container .authTitle2 .inputfield{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1rem;
}


.auth-Container .authTitle2 .inputfield .flex2{
    outline: 0;
    border: none;
    display: flex;
    flex-direction: column;
    align-self: center; 
}
*/
